body {
  background-color: rgb(30, 30, 30);
  display: flex;
  justify-content: center;
  font-family: "Cabin", sans-serif;
  flex-direction: column;
  margin: 0px;
}

.contents {
  max-width: 45rem;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  margin: 50px 0px 40px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  background-color: rgb(20, 100, 120);
  position: fixed;
  width: 100%;
  bottom: 0;
}

.link {
  color: white;
  display: grid;
  font-size: 18pt;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 50px;
}

.title {
  color: white;
  font-size: 20pt;
}

.paragraph {
  color: white;
  font-size: 14pt;
}

.button {
  color: rgb(73, 151, 101);
  display: grid;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 150px;
}

.tabicon {
  font-size: 20pt;
  display: flex;
  justify-content: center;
}

.tabtext {
  font-size: 10pt;
}

.profile-pic {
  border-radius: 0.5em;
  float: right;
  margin: 10px;
  max-width: 250px;
}
