body {
  background-color: rgb(30, 30, 30);
  justify-content: center;
  font-family: "Cabin", sans-serif;
  color: white;
  margin: 0px;
  padding-bottom: 100px;
  min-height: 100vh;
  position: relative;
}

.contents {
  max-width: 45rem;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  padding: 50px 0px 40px;
}

.footer {
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: rgb(20, 100, 120);
  position: absolute;
  width: 100%;
  bottom: 0;
}

.link {
  color: white;
  display: grid;
  font-size: 18pt;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 50px;
}

.title {
  color: white;
  font-size: 20pt;
  font-weight: bold;
}

.paragraph {
  color: white;
  font-size: 14pt;
  font-weight: lighter;
}

.button {
  color: rgb(73, 151, 101);
  display: grid;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 150px;
}

.tabicon {
  font-size: 20pt;
  display: flex;
  justify-content: center;
}

.tabtext {
  font-size: 10pt;
}

.location-pic {
  border-radius: 0.5em;
  float: center;
  max-width: 100%;
}

.profile-pic {
  border-radius: 0.5em;
  float: right;
  margin: 10px;
  max-width: 250px;
}

.location-wrapper {
  display: flex;
  padding-top: 10px;
}

.location-icon {
  width: 35px;
  height: 35px;
  font-size: 18pt;
}

.location-description-wrapper {
  margin-bottom: 40px;
}

.location {
  margin: 5px;
  font-size: 14pt;
  font-weight: bold;
}
