body {
  background-color: rgb(40, 43, 51);
  display: flex;
  justify-content: center;
}

.contents {
  width: 90%;
}

.header {
  display: flex;
  justify-content: center;
}

.title {
  color: white;
  text-align: center;
  font-size: 20pt;
}

.paragraph {
  color: rgb(191, 200, 224);
  font-family: "Times New Roman", Times, serif;
  font-size: 16pt;
}

.button {
  color: rgb(191, 200, 224);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabicon {
  font-size: 20pt;
}

.tabtext {
  font-size: 12pt;
}
