---
title: Experience
<!-- permalink: /experience/ -->
tags: experience
---
<!DOCTYPE html>
<head>
  <link rel="shortcut icon" type="image/png" href="images/favicon.png">
  <link rel="stylesheet" href="styles/home.css" />
  <script
    src="https://kit.fontawesome.com/05e1911c80.js"
    crossorigin="anonymous"
  ></script>
</head>
<html>
  <body>
    {% include header.html %}
    <div class="contents">
      <p class="title">Experience</p>
      <div class="location-wrapper">
        <div class="location-icon">
          <span class="fa-solid fa-person-walking-luggage"></span>
        </div>
        <p class="location">Travel</p> 
      </div>
      {% include travel.html %}
      <div class="location-wrapper">
        <div class="location-icon">
          <span class="fa-solid fa-pizza-slice"></span>
        </div>
        <p class="location">New York City, NY</p>
      </div>
      {% include nyc.html %}
      <div class="location-wrapper">
        <div class="location-icon">
          <span class="fa-solid fa-sun"></span>
        </div>
        <p class="location">Los Angeles, CA</p>
      </div>
      {% include la.html %}
      <div class="location-wrapper">
        <div class="location-icon">
          <span class="fa-solid fa-tree"></span>
        </div>
        <p class="location">Portland, OR</p> 
      </div>
      {% include portland.html %}
    </div>
    {% include footer.html %}
  </body>
</html>
